@font-face { font-family: survey1; src: url('../font/TradeGothicforNike365-Roman.ttf'); } 

html,body{
    margin:0;
    padding:0;
    background:#fff;
    overflow:auto;
    font-size:40px;
    font-family: survey1;
}
ul,li{
    margin:0;
    padding:0;
    list-style-type:none;
}
section{
    overflow: visible !important;
}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
.clearfix{*+height:1%;}
.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* IE/Edge */
    user-select: none;           /* non-prefixed version, currently
                                  not supported by any browser */
    cursor:default;
}
.full{
    position:absolute;
    top:0;
    bottom:0;
    right:0;
    left:0;
    /* width:100%;
    height:100%; */
    margin:0;
    padding:0;
    background:#fff;
    overflow:hidden;
}
.z9{
    z-index:9000;
}
.z8{
    z-index:8000;
}
.z7{
    z-index:7000;
}
.z6{
    z-index:6000;
}
.z5{
    z-index:5000;
}
.z4{
    z-index:4000;
}
.z3{
    z-index:3000;
}
.z2{
    z-index:2000;
}
.active{
    position:relative;
    z-index:10000;
}
.text-vcenter{
    position: absolute;
    top: 50%;
    padding: 0 16%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); 
    left: 0;
    right: 0;
    text-align:center;
}
.option-item .text-vcenter{
    /* width:100%; */
    /* left: 0;
    right: 0;
    text-align:center; */
}
.text-vcenter.full{
    position: absolute;
    background:transparent; 
    padding: 0 16%;
}
.text-vcenter span{
    line-height: 1.7;
}
.text-vcenter.underline span{
    border-bottom: solid 5px #fff;
    padding-bottom: 10px;
}
.text-vcenter.div-user-name{
    top:20%;
}
.text-vcenter.div-user-account{
    top:45%;
}
.text-vcenter.sign{
    top:58%;
}
.sign span{
    border: 4px solid #fff;
    border-radius: 5px;
    padding: 10px 30px;
}
.check-icon{
    display:none;
    position: absolute;
    left: 20%;
    top: 0;
    width: 55px;
}
input{
    width: 40%;
    height: 80px;
    font-size: 48px;
    margin-top: 5%;
    background: transparent;
    border: 0 solid;
    border-bottom:2px solid;
    color: #fff;
    text-align: center;
}
input.user-account{
    width:60%;
}
input:focus{
    border: 0 solid;
    border-bottom:2px solid;
    outline: none;
}
.input-frame-left, .input-frame-right{
    position: relative;
    font-size: 50px;
    top: 20px;
}
.input-frame-left{
    left:-5px;
}
.input-frame-right{
    right:-15px;
}
.back-tip-wrap{
    position:absolute;
    top: 80%;
}
.back-tip-wrap span.back-tip{
    display:none;
    border: 4px solid #fff;
    border-radius: 5px;
    padding: 10px 30px;
}
.back-tip-wrap span.back-tip.disable{
    opacity:0.4;
}
.question11 .back-tip-wrap{
    top:150%;
}


.lineTop, .lineBottom{
    position:absolute;
    width:100%;
    height:4px;
    z-index:11000;
}
.lineTop{
    top:0;
    background:#fff;
    opacity:0.4;
}
.lineBottom{
    bottom:0;
    background:#000;
    opacity:0.3;
}

.logo{
    display: block;
    position: absolute;
    top: 20%;
    left: 50%;
    margin-left: -60px;
}
.logo-text{    
    position: absolute;
    text-align: center;
    font-size: 80px;
    color: #fff;
    top: 35%;
    left: 0;
    right: 0;
}


/* funciton */
.main-wrapper{
    overflow:visible;
}
.welcome{
    height:100%;
    width:100%;
    background: linear-gradient(127deg, #f81578, #d2fa3b);
    background-size: 400% 400%;
    -webkit-animation: AnimationName 12s ease infinite;
    animation: AnimationName 12s ease infinite;
}
@-webkit-keyframes AnimationName {
    0%{background-position:0% 20%;}
    50%{background-position:100% 81%;}
    100%{background-position:0% 20%;}
}
@keyframes AnimationName { 
    0%{background-position:0% 20%;}
    50%{background-position:100% 81%;}
    100%{background-position:0% 20%;}
}

.enter-button{
    position: absolute;
        /* bottom: 25%; */
    top: 75%;
    left: 50%;
    margin-left: -100px;
    width: 200px;
    height: 70px;
    border: solid 3px #fff;
    text-align: center;
    line-height: 70px;
    color: #fff;
    font-size: 40px;
}
.selection{
    display:none;
    color:#b3b3b3;
}
.end-temp{
    text-align:center;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}


.option-title{
    position:relative;
    height:260px;
    /* box-shadow:  0 5px 2px #bbb inset; */
    /* border-top:1px solid rgba(255,255,255,0.8); */
    /* border-bottom:1px solid rgba(0,0,0,0.8); */
}
.option-title.full{
    position:absolute;
    height:auto;
}
.option-ul.full{
    /* top:4px; */
}
.option-ul.flex{
    display: flex;
    flex-direction: column;
}
.option-list-title{
    position:relative;
    height:260px;
    /* padding:0 16%; */
    text-align:center;
    -webkit-transition: background 555ms cubic-bezier(0.4, 0, 0.22, 1);
    transition: background 555ms cubic-bezier(0.4, 0, 0.22, 1);
}
.option-list-title.active{
    background:#FCB3B9;
    color:#fff;
}
.option-list-title.tapped{
    height:24%;
}
.option-item{
    position:relative;
    /* height:200px; */
    /* padding: 0 16%; */
    /* box-shadow:0 6px 12px #aaa inset; */
    color:#fff;
    flex:1;
}
.option-title:nth-child(odd) .option-list-title{
    background:#e6e6e6;
}
.option-title:nth-child(even) .option-list-title{
    background:#f2f2f2;
}

/* each option */
.option-list1 .option-item{
    /* padding: 0 16%; */
}
/* .option-title .option-list1>li:nth-child(1){
    background:#F81578;
} */
.option-list1 .option-list-title.active{
    background:#F81578;
}
.option-list1 li:nth-child(1){
    background:#F94493;
}
.option-list1>li:nth-child(2){
    background:#FDB8D6;
}
.option-list1>li:nth-child(3){
    background:#FCA1C9;
}
.option-list1>li:nth-child(4){
    background:#FC8ABC;
}
.option-list1>li:nth-child(5){
    background:#FB73AE;
}
.option-list1>li:nth-child(6){
    background:#FA5CA1;
}
.option-list1>li:nth-child(7){
    background:#F94493;
}

.option-list2 .option-list-title.active{
    background:#FCB3B9;
}
.option-list2 .option-item{
    float:left;
    /* width:34%; */
    padding: 0 0 0 16%;
}
.option-list2>li:nth-child(1){
    background:#FCA5AC;
}
.option-list2>li:nth-child(2){
    background:#FED2D5;
}
.option-list2>li:nth-child(3){
    background:#FECED1;
}
.option-list2>li:nth-child(4){
    background:#FFC9CE;
}
.option-list2>li:nth-child(5){
    background:#FFC5C9;
}
.option-list2>li:nth-child(6){
    background:#FDC0C4;
}
.option-list2>li:nth-child(7){
    background:#FEBDC2;
}
.option-list2>li:nth-child(8){
    background:#FCB8BC;
}
.option-list2>li:nth-child(9){
    background:#FCB3B9;
}
.option-list2>li:nth-child(10){
    background:#FCB3B9;
}

.option-list3 .option-list-title.active{
    background:#FCB3B9;
}
.option-list3 .option-item{
    float:left;
    /* width:34%; */
    padding: 0 0 0 16%;
}
.option-list3>li:nth-child(1){
    background:#FCA5AC;
}
.option-list3>li:nth-child(2){
    background:#FED2D5;
}
.option-list3>li:nth-child(3){
    background:#FECED1;
}
.option-list3>li:nth-child(4){
    background:#FFC9CE;
}
.option-list3>li:nth-child(5){
    background:#FFC5C9;
}
.option-list3>li:nth-child(6){
    background:#FDC0C4;
}
.option-list3>li:nth-child(7){
    background:#FEBDC2;
}
.option-list3>li:nth-child(8){
    background:#FCB8BC;
}
.option-list3>li:nth-child(9){
    background:#FCB3B9;
}
.option-list3>li:nth-child(10){
    background:#FCB3B9;
}






.selection .option-list-title.active{
    background:#FCB3B9;
}
.option-list5 .option-item{
    float:left;
    height: 15.18%;
    /* width:34%; */
    padding: 0 0 0 16%;
}
.option-item{
    background:#FCA5AC;
}













