html,body{
    height:100%;
    width:100%;
    margin:0;
    padding:0;
    background:#fff;
    overflow:hidden;
    font-size:40px;
    font-family:Arial, Helvetica, sans-serif;
}
section{
    position:absolute;
    top:0;
    bottom:0;
    right:0;
    left:0;
    overflow:hidden;
}
img{
    width:100%;
}
.sec1{
    z-index:3000;
    overflow:hidden;
}
.sec2{
    display:none;
    position:absolute;
    z-index:2000;
}
.sec3{
    /* display:none; */
    z-index:1000;
}
.sec4{
    display:none;
    z-index:0;
}
.rotate{
    transform:rotate(90deg);
}

.welcome{
    background: linear-gradient(127deg, #f81578, #d2fa3b);
    background-size: 400% 400%;
    -webkit-animation: AnimationName 12s ease infinite;
    animation: AnimationName 12s ease infinite;
}
@-webkit-keyframes AnimationName {
    0%{background-position:0% 20%;}
    50%{background-position:100% 81%;}
    100%{background-position:0% 20%;}
}
@keyframes AnimationName { 
    0%{background-position:0% 20%;}
    50%{background-position:100% 81%;}
    100%{background-position:0% 20%;}
}
.sec1 img{
    position:absolute;
    top:28%;
    transform: scale(1.4);
}

/* sec2 */
.sec2{
    height:100%;
    width:100%;
    /* border:solid 1px transparent; */
}
.sec2>ul{
    list-style:none;
    padding:0;
    margin:3% 5%;
}
ul ul{
    list-style:none;
    margin:0;
    padding:0;
}
li{
    display:block;
    display:none;
    max-width:100%;
    margin-bottom: 24px;
}
li:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
li:nth-child(even) img, li:nth-child(even) span{
    float:right;
}
li:nth-child(odd) img, li:nth-child(odd) span{
    float:left;
}
li span{
    display:inline-block;
    position:relative;
    max-width:62%;
    height:100%;
    padding:2% 30px;
    background:#fff;
    border-radius: 15px;
    opacity:0.6;
}
li:nth-child(odd) span{
    margin-left:45px;
}
li:nth-child(even) span{
    margin-right:45px;
}
li:nth-child(odd) span:before{
    display:inline-block;
    content:'';
    position: absolute;
    top: 25px;
    left: -30px;
    width:0px;
    height:0px;
    border-top:solid 20px transparent;
    border-bottom:solid 20px transparent;
    border-right:solid 40px #fff;
}
li:nth-child(even) span:after{
    display:inline-block;
    content:'';
    position: absolute;
    top: 25px;
    right: -30px;
    width:0px;
    height:0px;
    border-top:solid 20px transparent;
    border-bottom:solid 20px transparent;
    border-left:solid 40px #fff;
}
.line{
    border-top:5px dotted #fff;
}
ul img{
    width:91px;
    height:91px;
}
.arrow-sec2{
    /* display:none; */
}
/* .span-audio{
    width:40%;
}
.span-audio:before{
    content:'12\'\'';
    position:relative;
    left:-100px;
} */
div.voice{
    height:120px;
    margin:2% 5%;
    background:#fff;
    opacity:0.6;
    border-radius:20px;
    font-size:46px;
}
@-webkit-keyframes ArrowAnimationVoice {
    0%{transform:scale(1.1);}
    50%{transform:scale(1);}
    100%{transform:scale(1.1);}
}
@keyframes ArrowAnimationVoice { 
    0%{transform:scale(1.1);}
    50%{transform:scale(1);}
    100%{transform:scale(1.1);}
}
.voice img{
    /* transform: rotate(180deg); */
    width: 50px;
    margin: 25px 35px 25px 65px;
    vertical-align: middle;
    float:right;
    -webkit-animation: ArrowAnimationVoice 4s ease infinite;
    animation: ArrowAnimationVoice 4s ease infinite;
}
.voice span{
    float:right;
    position:relative;
    top: 32px;
    right: -10px;
}
/* sec2 */


.sec3 img.main-pic{
    height:100%;
    transform:scale(1.1);
}
img.rotate{
    position:absolute;
    left:50%;
    bottom:50px;
    width:100px;
    margin-left:-50px;
    -webkit-animation: ArrowAnimation 1.5s ease infinite;
    animation: ArrowAnimation 1.5s ease infinite;
}
@-webkit-keyframes ArrowAnimation {
    0%{bottom:40px;}
    50%{bottom:20px;}
    100%{bottom:40px;}
}
@keyframes ArrowAnimation { 
    0%{bottom:40px;}
    50%{bottom:20px;}
    100%{bottom:40px;}
}
.sec4{
    background:#000;
}
.sec4 img.main-pic{
    display:block;
    position:relative;
    top:28%;
    width:600px;
    margin:58% auto;
}


